<script src="/javascripts/livevalidation.js"></script>
<%= render :partial => "layouts/first" %>
<div  style="position:absolute; left:22px; top:200px; width:420px; height:150px; overflow:visible">
<%= image_tag("/images/u33.jpg")%></div>
<div align=center <div align=center style="margin-top:200px">
<%= form_for :activcontactsphone ,:url=>{:action=>"phcreate", :controller=>"myactivcontactsphones"} do |f|%><br/>
<%= f.label:Primary_phone_number %>
<%= f.check_box :status %>
<%= f.label:Add_phone_Number %>
<%= f.text_field:phon_number%><br />
<%= f.submit 'Add'%>
<%= f.hidden_field :user_id, :value => current_user.id %>
<% end %>
</div>
 
<script>
var f1 = new LiveValidation('activcontactsphone_phon_number');
f1.add( Validate.Presence ); 
f1.add( Validate.Numericality, { onlyInteger: true } );
f1.add( Validate.Length, { minimum: 10, maximum: 15 } );
</script>
	




