<%= render :partial => "layouts/first" %>
<div  style="position:absolute; left:250px; top:200px; width:420px; height:150px; overflow:visible">
<%= image_tag("/images/u33.jpg")%></div>
<div  style="position:absolute; left:250px; top:300px; width:420px; height:150px; overflow:visible">
<h3> Phone Number </h3> 
        <% if @myactivcontact.present? %>
		<table border="1">
			<th>Phone_Number</th>
                        <th>Action</th>
                        <th>Status</th>
			<% @myactivcontact.each do |f| %>
				<tr>
					<td><%= f.phon_number%></td>
					<td><%= link_to 'Delete', :id=>f.id, :action => "destroyph" %></td>
                                         <td><%= f.status?  'Primary' : 'secondary' %></td>
				</tr>
         
			<%end%>
		</table>
	<% end %>
	<%= link_to 'Add another phonenumber',:controller=>"myactivcontactsphones", :action=>"phonenew" %>
	</div>

