<%= render :partial => "layouts/first" %>
<DIV id=u10 style="position:absolute; left:650px; top:190px;  height:18px; ; ; text-align: center ; font-family:Arial; text-align:left; word-wrap:break-word;" ><%= image_tag("/images/u22.jpg")%></DIV>
<div align=right style="margin-top:170px">
<%= image_tag("/images/u104.jpg")%>
<%= link_to 'Inbox',inbox_path %>
<%= image_tag("/images/u105.jpg")%>
<%= link_to 'Sent Messages',outbox_path %>
</div>
<div align=center>
<% if @mesg.present? %>
<h2>Messages</h2>
<h3>Sent Messages</h3>
<h3></h3>
<table bgcolor=#FFFFFF border=5>
  <tr bgcolor="#FFFFFF">
<th>To</th>
<th>Subject</th>
<th>Date sent</th>
<th>Action</th>
</tr>
<% i=0 %>
<% @mesg.each do |p| %>
<tr>
 <td><%=@rec[i]%><br></td>
 <td><%=link_to p.subject,"/msgout/#{p.id}" %><br></td>
 <td><%=p.created_at%><br></td>
 <td><%= link_to 'Delete', :id=>p.id, :action => "destroyout" %>
</tr>
     <% i=i+1 %>
<% end %>
</table>
<% end %>
</div>




