<%= render :partial => "layouts/first" %>

<DIV id=u10 style="position:absolute; left:670px; top:180px;  height:18px; ; ; text-align: center ; font-family:Arial; text-align:left; word-wrap:break-word;" ><%= image_tag("/images/u43.jpg")%></DIV>

<div align=center style="margin-top:250px">
<table bgcolor=#FFFFFF border=5>
  <tr >
    <th>Name</th>
    <th>mobile/Email</th>
    <th>search at</th>
    <th>Actions</th>
  </tr>
  <% i=0 %>
  <%@my.each do |s|%>
    <tr bgcolor="#FFFFFF">
       <td><%=@name[i]%><br></td>
       <td><%=s.search_content%></td>
       <td><%=time_ago_in_words(s.created_at)%> ago<br></td>
       <td><%= link_to 'Delete', :id=>s.id, :action => "destroy" %>	
    </tr>
    <% i=i+1 %>
  <% end %>
</table>
</div>

  
