<%= render :partial => "layouts/first" %>
<%= image_tag("/images/u26.png")%>
<div align=right style="margin-top:130px">
<%= link_to 'Edit', edit_friend_path(@friend) %> 
<%= link_to 'Manage Friends', friends_path %>
<%= link_to 'Add Friends',new_friend_path%></div>

<p id="notice"><%= notice %></p>

<div align=center>
<h1>My Friends</h1>
<h3>Friend</h3><div>

<p>
  <b>First name:</b>
  <%= @friend.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @friend.last_name %>
</p>

<p>
  <b>Nick name:</b>
  <%= @friend.nick_name %>
</p>

<p>
  <b>Phone number:</b>
  <%= @friend.phone_number %>
</p>

