<script src="/javascripts/livevalidation.js"></script>
<%= render :partial => "layouts/second" %>
<div><%= image_tag("/images/u1.png")%><h1>Activcontacts</h1></div>
<h2>Login to ActivContacts</h2>
<%=flash[:success]%>
<%= form_for(resource_name, resource, :url => session_path(resource_name)) do |f| %>
  <p><%= f.label :email %></p>
  <p><%= f.text_field :email %></p>

  <p><%= f.label :password %></p>
  <p><%= f.password_field :password %></p>

  <% if devise_mapping.rememberable? -%>
    <p><%= f.check_box :remember_me %> <%= f.label :remember_me %></p>
  <% end -%>

  <p><%= f.submit "login" %></p>
<% end %>

<%= render :partial => "devise/shared/links" %>


